build/
dist/
docs/_build/
libwlcov.a
python/cwlcovpy.pxd
python/wlcovpy.c
/wlcov
wlcovpy.egg-info/
*.egg-info/
*.o
*.so
*.whl
*.a

*.pyc
__pycache__/
.DS_Store

Output*/
tests/Output*/
tests/Cls_temp.txt
tests/analytic_covariance_quickstart.pdf
tests/analytic_covariance_quickstart.txt
tests/notebooks/Cls_temp.txt
tests/notebooks/analytic_covariance_example.txt
tests/notebooks/Output*/
tests/notebooks_r2d2/Cls_temp.txt
tests/notebooks_r2d2/analytic_covariance_22_noise.txt
